.ant-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 48px;
    color: rgb(0, 0, 0);
    line-height: 48px;
    text-align: center;
    background: rgb(223, 91, 113);
    cursor: pointer;
    transition: all 0.2s;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: rgb(223, 91, 113);
}
.ant-menu {
    background: rgb(230, 155, 167);
}
